#repos {
	height: 50vh;
	overflow-y: scroll;
	padding: 1rem;
}

::-webkit-scrollbar {
	width: 12px;
	height: 10px;
}
::-webkit-scrollbar-thumb {
	border-radius: 6px;
	background-image: linear-gradient(to top, #58b9f0 20%, white 100%);
}
