.specific-repo-container {
	margin-top: 3rem;
	text-transform: capitalize;
	margin-right: 2rem;
}

.repoStats {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 12px;
}

.stat-item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #67c4f3;
	padding: 0.5rem;
	border-radius: 6px;
	text-align: center;
	box-shadow: 2px 2px 0 white;
	transition: 0.3s ease-in-out;
}

.stat-item:hover {
	scale: 1.02;
	background-color: #3ea5d8;
}

.stat-item h3,
.stat-item a {
	color: #0d1116;
	font-weight: 700;
	font-size: 18px;
}

.stat-item p {
	font-weight: 700;
}

.stat-item:last-child {
	grid-column: 1/3;
}
