/* General */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: "Signika Negative", sans-serif;
	background-color: #0d1116; /* official github dark mode color */
	color: white;
}

h1,
h2,
h3,
h4 {
	font-weight: 700;
}

a {
	cursor: pointer;
	font-weight: 300;
	color: white;
	text-decoration: none;
}

a:hover {
	color: #76F058;
}

h3 {
	color: #58B9F0;
}

h3:hover {
	color: #76F058;
}

p {
	font-weight: 300;
}

/* Reusable PageContainer */

label {
	text-align: left;
}

.main-container {
	/* width: 90%; 
	margin: 0 auto; 
	max-width: 1200px; */
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 40%;
	background-color: #161b21; /* official github dark mode color */
	border-radius: 10px;
	padding: 50px 0;
	border: 1px solid white;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#username {
	vertical-align: top;
	margin: 5px auto;
	width: 100%;
	border: solid black 1px;
	border-radius: 5px;
	font-size: 25px;
	border: solid 1px white;
}

#username:hover {
	border: solid 1px #619f23;
}

#back {
	width: 5%;
	background-color: #619f23;
	color: white;
	font-size: 25px;
	border: 1px solid white;
	border-radius: 5px;
	text-align: center;
	margin: 5px;
}

input[type="submit"] {
	width: 20%;
	background-color: #619f23;
	color: white;
	font-size: 25px;
	border: 1px solid white;
	border-radius: 5px;
	text-align: center;
}

input[type="submit"]:hover,
#back:hover {
	background-color: white;
	color: #619f23;
	border: solid 1px #619f23;
}

form {
	width: 80%;
}

form:not(#label) {
	text-align: center;
}

.footer {
	position: fixed;
	text-align: center;
	bottom: 15px;
	left: 40%;
}

hr {
	width: 100%;
	margin: 10px 0;
}

#profile {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#avatar {
	border-radius: 50%;
	width: 15%;
}

#repoList {
	margin-left: 5px;
	width: 50%;
}
