/* General */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: "Signika Negative", sans-serif;
	background-color: #0d1116; /* official github dark mode color */
	color: white;
	overflow: hidden;
}

h1,
h2,
h3,
h4 {
	font-weight: 700;
}

a {
	cursor: pointer;
	font-weight: 300;
	color: white;
	text-decoration: none;
	transition: 0.3s ease-in-out;
}

a:hover {
	color: #76f058;
}

h3 {
	color: #58b9f0;
	transition: 0.3s ease-in-out;
	margin-bottom: 10px;
	text-transform: capitalize;
}

h3:hover {
	color: #76f058;
	cursor: pointer;
	transform: translateX(5px);
}

p {
	font-weight: 300;
	margin-top: 5px;
}

/* Reusable PageContainer */

label {
	text-align: left;
}

.main-container {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	min-width: 480px;
	background-color: #161b21; /* official github dark mode color */
	border-radius: 10px;
	padding: 50px 0;
	border: 1px solid white;
	display: flex;
	flex-direction: column;
	align-items: center;
}

@media only screen and (max-width: 800px) {
	.main-container {
		min-width: 85%;
	}
}

#username {
	vertical-align: top;
	margin: 5px auto;
	width: 100%;
	border: solid black 1px;
	border-radius: 5px;
	font-size: 18px;
	border: solid 1px white;
	padding: 0.25rem 0.5rem;
}

#username:hover {
	border: solid 1px #619f23;
}

#back {
	min-width: 5%;
	background-color: #619f23;
	color: white;
	font-size: 20px;
	border: 1px solid white;
	border-radius: 5px;
	text-align: center;
	margin: 5px;
	position: fixed;
	top: 5px;
	left: 5px;
	padding: 5px;
}

#home {
	min-width: 5%;
	background-color: #619f23;
	color: white;
	font-size: 20px;
	border: 1px solid white;
	border-radius: 5px;
	text-align: center;
	margin: 5px;
	position: fixed;
	top: 25px;
	left: 5px;
	padding: 5px;
}

input[type="submit"] {
	min-width: 20%;
	background-color: #619f23;
	color: white;
	font-size: 18px;
	border: 1px solid white;
	border-radius: 5px;
	text-align: center;
	padding: 0.25rem 0.5rem;
	margin-top: 0.5rem;
	transition: 0.3s ease-in-out;
}

input[type="submit"]:hover,
#back:hover, #home:hover {
	background-color: white;
	color: #619f23;
	border: solid 1px #619f23;
	cursor: pointer;
}

form {
	width: 80%;
}

form:not(#label) {
	text-align: center;
}

.footer {
	position: fixed;
	text-align: center;
	bottom: 1%;
	width: 100%;
}

hr {
	width: 100%;
	margin: 10px 0;
}

#profile {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 45vw;
}

#avatar {
	border-radius: 50%;
	width: 40%;
}
